* {
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
}
div .finsh {
  height: 70% !important;
}

.area textarea {
  background-color: rgb(213, 200, 226);
}

.area h1 {
  color: rgb(190, 124, 252);
}
.btn {
  background-color: rgb(218, 202, 221);
  font-weight: bold;
}

.text1 {
  font-weight: bold;
}
